* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}


.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo{
background: rgb(29,228,202);
background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu{
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item{
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.1s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(0,200,255);
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: red;
  transition: all 0.1s ease;
}

@media screen and (max-width: 960px){
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active{
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
  
  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background:#fff;
  }
  
  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: auto;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar{
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */

.hero {
  background-image: url("https://thumbs.gfycat.com/AnyFaithfulHylaeosaurus-size_restricted.gif");
  padding: 250px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color:#fff;
}

.hero__heading span {
  background: rgb(29,228,202);
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__description {
  font-size: 60px;
  background: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid red;
}

@media screen and (max-width: 768 px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
  
}

/* About Us */
.about__heading span {
  background: rgb(29,228,202);
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);  
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
#about_us .caption{
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  padding: 20px;
  border-radius: 6px;
}

.main {
  background-color: #131313;
  padding: 10rem 0;
}


.main__container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.main__content {
  color: #fff;
  
  width: 100%; 
}

.main__content h1 {
  font-size: 3rem;
  background-color: #fff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-align: center;
}

.main__content h2 {
  font-size: 4rem;
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background: rgb(29,228,202);
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}


.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0fbcf9; 
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc0fff 100%);
}
.main__btn2 {
  font-size: 1rem;
  color: #fff;
  background: rgb(29,228,202);
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}


.main__btn2 a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn2 span {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn2:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0fbcf9; 
  transition: all 0.35s;
  border-radius: 4px;
  color: #fff;
}

.main__btn2:hover {
    color: #fff;
}

.main__btn2:hover:after {
  width: 100%;
}

.main__img2--container {
  text-align: center;
}

.main__img2--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc0fff 100%);
}

.grid-container {
text-align: center;
color: #fff;  
font-size: 160%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}

.grid-child{
  padding-left: 50px;
  padding-right: 50px;
  font-size: smaller;

  background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(42,42,42,1) 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 11px -3px #000000; 
  box-shadow: 5px 5px 11px -3px #000000;
  color: #fff;

}

#our_work .caption {
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  padding: 20px;
  border-radius: 6px;
}


#contact_us .caption {
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%); 
  padding: 20px;
  border-radius: 6px;
}

/* Footer CSS */
.footer__container {
background-image: url("https://thumbs.gfycat.com/AnyFaithfulHylaeosaurus-size_restricted.gif");
padding: 5rem 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#footer__logo {
color: #fff;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.footer__links {
width: 100%;
max-width: 1000px;
display: flex;
justify-content: center;
}

.footer__link--wrapper {
display: flex;
}

.footer__link--items {
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 10px;
text-align: left;
width: 160px;
box-sizing: border-box;
}

.footer__link--items h2 {
margin-bottom: 16px;
color: #fff;
}

.footer__link--items a {
color: #fff;
text-decoration: none;
margin-bottom: 0.5rem;
transition: 0.3 ease-out;
}

.footer__link--items a:hover {
color: #e9e9e9;
transition: 0.3 ease-out;
}

.social__icon--link {
color: #fff;
font-size: 24px;
}

.social__media {
max-width: 1000px;
width: 100%;
}

.social__media--wrap {
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
max-width: 1000px;
margin: 40px auto 0 auto;
}

.social__icons {
display: flex;
justify-content: space-between;
align-items: center;
width: 100px;
}

.website__rights {
color: #fff;
}

@media screen and (max-width: 820px) {
.footer__links {
  padding-top: 2rem;
}

#footer__logo {
  margin-bottom: 2rem;
}

.website__rights {
  margin-bottom: 2rem;
}

.footer__link--wrapper {
  flex-direction: column;
}

.social__media--wrap {
  flex-direction: column;
}
}

@media screen and (max-width: 480px) {
.footer__link--items {
  margin: 0;
  padding: 10px;
  width: 100%;
}
}

.link__container {
  width: 50%;
}

.link__container p{

  text-align: justify;
  text-justify: inter-word;
  
}

#our__work__box{
  background: rgb(56,56,56);
  background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(42,42,42,1) 100%);
  border-radius: 4px;
  /* padding: 10px; */
  -webkit-box-shadow: 5px 5px 7px 1px #000000; 
  box-shadow: 5px 5px 7px 1px #000000;
  position:relative;
}

.website__link {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  padding-left: 35px;
}

#website__picture__default {
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 675px;
  z-index: 0;
}

#website__picture__one {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 675px;
  z-index: 1;

  transition: all 0.85s ease;

}

#website__link__one:hover ~ #website__picture__one { 
  opacity: 1;
  transition: all 0.85s ease;
}

#website__picture__two {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 675px;
  z-index: 1;

  transition: all 0.85s ease;

}


#website__link__two:hover ~ #website__picture__two { 
  opacity: 1;
  
  transition: all 0.85s ease;
}
#website__picture__three {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 675px;
  z-index: 1;

  transition: all 0.85s ease;

}

#website__link__three:hover ~ #website__picture__three { 
  opacity: 1;
  transition: all 0.85s ease;
}
#website__picture__four {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 675px;
  z-index: 1;

  transition: all 0.85s ease;

}

#website__link__four:hover ~ #website__picture__four { 
  opacity: 1;
  transition: all 0.85s ease;
}

.page__link {
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
  padding-left: 35px;
}

#link__one__home:hover ~ #website__picture__one { 
  opacity: 1;
  
  transition: all 0.85s ease;
}

#link__one__about:hover ~ #website__picture__two { 
  opacity: 1;
  
  transition: all 0.85s ease;
}

#link__one__services:hover ~ #website__picture__three {
  opacity: 1;
  
  transition: all 0.85s ease;
}

#link__one__contact:hover ~ #website__picture__four {
  opacity: 1;
  
  transition: all 0.85s ease;
}




/* Our work section mobile */

@media screen and (max-width: 960px) {

  #our_work .caption {
    display: none;
  }

  .link__container {
    width: 100%;
  }

  #link__one__home{
    display: none;
  }

  #link__one__about{
    display: none;
  }

  #link__one__services{
    display: none;
  }

  #link__one__contact{
    display: none;
  }
  
  .link__container a{
    text-align: justify;
    text-justify: inter-word;
  }

  .link__container p{
    text-align: justify;
    text-justify: inter-word;
    font-weight: 85;
  }

  #website__picture__default {
    display: none;
  }
  
  #website__picture__one {
    opacity: 1;
    position: relative;
    top: -40px;
    left: 25px;
    z-index: 1;
    height: auto;
    width: 25%;
  }

  #website__picture__two {
    opacity: 1;
    position: relative;
    top: -40px;
    left: 55px;
    z-index: 1;
    height: 30%;
    width: 30%;
  }

  #website__picture__four {
    opacity: 1;
    position: relative;
    top: -40px;
    left: 65px;
    z-index: 1;
    height: 30%;
    width: 30%;
  }

}

input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;

  margin-right: 390px;
  width: 100%;
  height: 50px;
  font-size: 16px;
}

input[type=email] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;

  width: 100%;
  height: 50px;
  font-size: 16px;

  float: right;
}

input[type=message], select, textarea {
  width: 100%; /* Full width */
  height: 200px;
  padding: 12px; /* Some padding */ 
  border: 2px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: none;/* Allow the user to vertically resize the textarea (not horizontally) */

  font-size: 16px;
  margin-top: 30px;
}



input[type=submit] {
  font-size: 1rem;
  background: rgb(29,228,202);
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  color: #fff;

}

#submit__container{
  text-align: center;
}



input[type=submit] a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

input[type=submit]:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff1ead;
  transition: all 0.35s;
  border-radius: 4px;
}

#submit__container{
  text-align: center;
}

label{
  font-size: 24px;
  text-align: center;
}

.float-container {
  padding: 10px;
}

.float-child {
  width: 50%;
  float: left;
  padding-left: 115px;
  padding-right: 115px;
  text-align: center;
  align-items: center;
}  

#message_form {
  text-align: center;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 25px;
}

/* Contact form mobile */

@media screen and (max-width: 960px) {


  #message_form {
    padding-left: 25px;
    padding-right: 25px;
  }

  .float-container {
    padding: 0px;
  }
  
  .float-child {
    padding-left: 25px;
    padding-right: 25px;
  }  

}


/* Price Cards */
.card_price_container{
  display: flex;
  width:100%;
  height: 100vh;
  background-color:rgb(5, 4, 4);
}
.card-price-wrapper{
  width:  90%;
  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex; justify-content: space-around; align-items: flex-start;
}

.card1 {
  width: 300px;
  background-image: url("https://thumbs.gfycat.com/AnyFaithfulHylaeosaurus-size_restricted.gif");
  background-size: cover;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgb(86, 193, 243);
  transition: all 0.4s;
}

.card1:hover{
  transform: scale(1.1);
  box-shadow: 0 15px 60px rgba(0,0,0,.8);
  transition: all 0.4s;
}

.card-header1{
  margin-bottom: 40px;
}

.card-header1 h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:30px;
  font-weight: 300;
  color: rgb(71, 196, 245);
  margin: 30px;
  border-bottom: 1px groove #fff;
  padding: 10px;
}

.card-header1  h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:60px;
  font-weight: 300;
}

.card-header1 sup{
  font-size: 35px;
}

.card-header1 span{
  font-size: 80px;
}

.card-body1{
  margin-bottom: 60px;
}

.card-body1 li{
  list-style: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 15px;
}

.card-body1 i{
  margin-right: 25px;
  text-align: center;
}

.card-body1 .fa-check{
  color: #fd1d1d;
}

.card-body1 .fa-times{
  color:rgb(105, 232, 241);
}

/*.card-footer1{
  margin: 40px;
}
.card-footer1 button{
  width: 120px;
  padding: 10px;
  background-color: chocolate;
  color: crimson;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid rgb(3, 0, 3);
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}
*/
@media(max-width: 1200px){
  
  .card_price_container{
    height: 100%;
  }

  .card-price-wrapper{
    flex-wrap: wrap;
  }
  
  .card1{
    margin: 60px;
  }

}
.main__content p {
  text-align: center;
}

.main__container .main__btn{


  /* border: 2px solid red; */
  
  
  margin-left: 35%;
}

.contact__heading span {
  
  background: linear-gradient(90deg, rgba(29,228,202,1) 0%, rgba(0,65,255,1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#contact__form{
  background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(42,42,42,1) 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 11px -3px #000000; 
  box-shadow: 5px 5px 11px -3px #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(42,42,42,1) 100%);;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(42,42,42,1) 100%);
  transition: .3s linear;
  
  background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(42,42,42,1) 100%);
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 11px -3px #000000; 
  box-shadow: 5px 5px 11px -3px #000000;
}

.pricing-card-header{
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em #0fbcf9;
}

.pricing-card:hover {
  color: #fff;
}

.pricing-card:hover:after {
width: 100%;
}

.price{
  font-size: 70px;
  color: #0fbcf9;
  margin: 40px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}